<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<%# <%= debug @products %> 

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%# <a href="/products/<%= product.id %>
        <%# <%= product.name %>
      <%# </a> %>
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>

<hr>
<%= link_to "New product", new_product_path if authenticated? %>
<%= link_to "Login", new_session_path unless authenticated? %>